/* Botones */

.boton {
    background-color: $color-principal;
    border-radius: 20px;
    color: white;
    border-color: transparent;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        background-color: $color-terciario;
        border-radius: 20px;
        color: white;
        border-color: transparent;
        font-weight: bold;
        box-shadow: 5px 5px 5px #b9b9b9;
    }
}

.botonCompra {
    background-color: $color-principal;
    border-radius: 20px;
    color: white;
    border-color: transparent;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        background-color: $color-terciario;
        border-radius: 20px;
        color: white;
        border-color: transparent;
        font-weight: bold;
        box-shadow: 5px 5px 5px #b9b9b9;
    }
}

.boton-busqueda {
    background-color: $color-secundario;
    border-radius: 20px;
    color: white;
    border-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    margin: 2.5em;

    &:hover {
        background-color: $color-terciario;
        border-radius: 20px;
        color: white;
        border-color: transparent;
        font-weight: bold;
    }
}

.boton-proximos-eventos {
    background-color: transparent;
    border-radius: 20px;
    color: $color-principal;
    border: 1px solid $color-principal;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    &:hover {
        background-color: $color-terciario;
        border-radius: 20px;
        color: white;
        border-color: transparent;
        font-weight: bold;
    }

    &:active {
        background-color: $color-terciario;
        border-radius: 20px;
        color: white;
        border-color: transparent;
        font-weight: bold;
    }
}


// Estilos Scrollbar 

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    border: 2px solid $color-principal;
    border-radius: 1rem;
    background-color: $color-principal;
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}


// Estilos iconos 

.icons {
    color: $color-terciario;
}

// Modal - Boton Volver

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    text-align: center;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid transparent !important;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.volver {
    background-color: white;
    border-radius: 20px;
    color: $color-principal;
    border-color: $color-principal;
    font-weight: bold;
    text-transform: uppercase;

    &:hover,&:active {
        background-color: $color-terciario;
        border-radius: 20px;
        color: white;
        border-color: transparent;
        font-weight: bold;
        box-shadow: 5px 5px 5px #b9b9b9;
    }
}