/* Seccion Busqueda */

.busqueda {
    margin: 1.5rem 0 2.5rem 0;
    text-align: center;
}

.barra-busqueda {
    border-radius: 20px;
    margin: 2.5em;

    &:hover {
        border-color: $color-principal;
    }

    &:focus {
        border-color: $color-terciario;
    }

}

/* Dropdowns*/

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: $color-principal!important;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    font-style: normal;

    &:hover {
        color: $color-terciario !important;
        background-color: transparent;
        cursor: pointer;
        font-weight: bold;
    }
}

@media only screen and (max-width: 770px) {
    
    .querieMargin {
        margin-bottom: 4em;
    }

}

