/* Titulos */

h1 {
    color: $color-terciario;
    text-align: center;
    font-family: $titulo-principal;
}

h2 {
    color: $color-principal;
    font-family: $cuerpo;
}

h3 {
    color: $color-secundario;
    font-family: $cuerpo-secundario;
}

h4 {
    color: $color-terciario;
    font-weight: bold;
    text-align: center;
    font-family: $cuerpo;
    font-style: italic;
}

h5 {
    color: $color-secundario;
    font-weight: bold;
    text-align: center;
    font-family: $cuerpo-secundario;
}

.descripcion-evento {
    font-style: italic;
    text-align: center;
}

.display-p {
    color: $color-terciario;
    font-family: $cuerpo;
    font-style: italic;
    font-size: 1.3em;
    // display: inline;
}

.display-span {
    color: white;
    background-color: $color-secundario;
    padding: 10px;
    border-radius: 20px;
}