/* Paleta de colores */

$color-principal: #ff2e93;
$color-secundario: #00e6b3;
$color-terciario: #142664;

/* Fuentes */

$titulo-principal: 'Anton', sans-serif;
$cuerpo: 'Fira Sans', sans-serif;
$cuerpo-secundario: 'Nunito', sans-serif;